.header {
  background: #7733ff;
  height: 20vh;
}

.icon {
  font-size: 32px;
  color: white;
}

.task-input-group {
  margin-top: -30px;
}

.task-input-group input {
  width: 100%;
  height: 60px;
  font-weight: 300;
  border-radius: 10px;
  border: 2px solid #e0dce4;
  background: #f4f2ff;
  color: #6b6572;
}

.task-input-group input:focus {
  border: 2px solid #7733ff !important;
  box-shadow: none !important;
  color: black;
}

.task-input-group button {
  height: 60px;
  background: #11b2fd;
  border: none;
  border-radius: 10px;
}

.task-input-group button:hover {
  background: #0085d2;
}

.tab-group {
  margin-top: 70px;
  font-weight: 900;
}

.no-tasks p {
  font-size: 14px;
  color: #6b6572;
  margin: 0;
}

@media (min-width: 768px) {
  .header {
    height: 200px;
  }

  .task-input-group {
    width: 70%;
  }

  .tab-group {
    width: 70%;
  }

  .task-list {
    width: 70%;
  }
}
