<div class="container mt-5">
  <h1 class="text-center">To-Do List</h1>
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Add a new task"
      [(ngModel)]="newTask"
    />
    <button class="btn btn-primary" (click)="addTask()">Add</button>
  </div>
  <ul class="list-group">
    <app-task-item
      *ngFor="let task of tasks"
      [task]="task"
      (delete)="deleteTask($event)"
      (toggle)="toggleTask($event)"
      (edit)="editTask($event)"
    ></app-task-item>
  </ul>
</div>
