<div>
  <div class="d-flex justify-content-center align-items-center header">
    <i class="bi bi-journal-text me-2 icon"></i>
    <h1 class="mb-0 text-light">Lista de Tarefas</h1>
  </div>
  <div class="container">
    <div
      class="d-flex justify-content-center align-items-center mb-3 task-input-group"
    >
      <input
        type="text"
        class="form-control me-2"
        placeholder="Adicione uma nova tarefa"
        [(ngModel)]="newTask"
      />
      <button class="btn btn-primary" (click)="addTask()">
        <span class="me-2">Criar</span>
        <i class="bi bi-plus-circle"></i>
      </button>
    </div>
    <ul class="list-group">
      <app-task-item
        *ngFor="let task of tasks"
        [task]="task"
        (delete)="deleteTask($event)"
        (toggle)="toggleTask($event)"
        (edit)="editTask($event)"
      ></app-task-item>
    </ul>
  </div>
</div>
