.task-item {
  align-items: center;
  background-color: #e0dce4;
  border-radius: 8px;
  color: #262428;
  height: 72px;
}

.task-item .completed {
  text-decoration: line-through;
  color: #6b6572;
}

.checkbox {
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
}

.delete-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.delete-button i {
  font-size: 18px;
  margin: 10px;
  color: #6b6572;
}
